* {
    margin: 0;
}

/*navigation*/
nav {
    width: 100%;
    height: 60px;
    padding: 5px;
    background-color: #404040;
}

.navlink {
    width: 15%;
    height: 50px;
    float: left;

    line-height: 50px;

    text-align: center;
    font-size: 10pt;
    font-family: robotica;
    color: #C2C2C2;
    text-decoration: none;
}

.navlink:hover {
    color: #ffffff;
    background-color: #C2C2C2;
}


/*header*/
.homeheader {
    width: 100%;
    height: 1000px;
    background-color: #000000;

    font-size: 40pt;
    font-family: robotica;
    color: #ffffff;
}


/*articles*/
.homearticle {
    width: 92%;
    height: 800px;
    background-color: #C2C2C2;
    
    font-size: 10pt;
    font-family: robotica;
    color: #000000;
    margin: 2%;
    padding: 2%;
    border-radius: 50px;
}

