/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

/*************************STANDAARDMARGIN*************************/
* {
   margin: 0;
}

/*************************NAVIGATION*************************/
nav {
   width: 100%;
   height: 70px;

   background-color: #404040;
   background: radial-gradient(#565656, #222222);
   
   position: sticky;
   top: 0;
   z-index: 10;
}

.navlink {
   width: 10%;
   height: 50px;

   float: left;

   margin: 10px 3%;

   line-height: 50px;
   text-align: center;
   font-size: 10pt;
   font-family: robotica;
   color: #C2C2C2;
   text-decoration: none;

   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.navlink:hover {
   color: #ffffff;
   font-size: 10.5pt;
}


.navlogo {
   height: 50px;

   float: left;
   margin: 10px 5%;

   position: relative;
   transition: -webkit-transform 1s;
   -webkit-transition: -webkit-transform 1s;
}

.navlogo:hover {
   transform: rotate(360deg) translateZ(0);
   -webkit-transform: rotate(360deg) translateZ(0);
}

/*************************HOMEHEADER*************************/
.homeheader {
   width: 90%;
   height: 900px;

   z-index: -2;
}

.homevid {
   width: 100%;
   height: 900px;

   position: absolute;
   left: 0;
   object-fit: cover;
   z-index: -1;
}

.hometext{
   background-color:#ffffff;
   background: radial-gradient(#ffffff, #dddddd);
   opacity: 0.7;
   
   min-width: 300px;
   max-width: 600px;
   height: fit-content;
   border-radius: 50px;
   margin: 5%;
   padding: 20px;

   z-index: 3;
   position: absolute;

   color: black;
   font-size: 20pt;

 }

 .hometext h1{
   color: #0070FA;
   font-size: 40pt;
 }

/*************************HOMEPAGE*************************/
.homearticle {
   width: 70%;
   height: 700px;
   background-color: #C2C2C2;
   
   font-size: 10pt;
   font-family: robotica;
   color: #000000;
   margin: 2% auto;
   border-radius: 50px;
   transition: width 1s;
}


 .homeimg {
   height: 700px;
   width: 70%;
   position: absolute;
   object-fit: cover;
   border-radius: 50px;
   transition: width 1s;
 }

.homearticle:hover .homeimg{
   width: 80%;
}

.homearticle:hover .homesubtitle{
   width: 80%;
}

.homearticle:hover{
   width: 80%;
}

 .homesubtitle {
   opacity: 0.6;
   background-color: #ffffff;
   z-index: 3;
   transition: width 1s;
   color: #000000;

   width: 70%;
   height: fit-content;
   position: absolute;
   margin-top: 20px;

   font-size: 30pt;
   font-weight: bold;
   text-align: center;
   line-height: 50px;
 }


/*************************ARTICLES*************************/

.eenderdewrapper {
   width: 95%;
   height: 410px;
   margin: auto;
   margin-bottom: 60px;
}

.eenderdearticle {
   width: 23.33%;
   background-color: #C2C2C2;
   box-shadow: 20px 20px 10px rgb(145, 145, 145);
   float: left;
   margin: 0 3%;
   border-radius: 50px;
   height: 400px;
   padding: 0 2% 10px 2%;
   overflow: auto;
}

.eenderdearticle h1 {
   position: sticky;
   top:0;
   background-color: #c2c2c2;
   height: fit-content;
   line-height: 40px;
   z-index: 3;
}

.subheader {
   width: 85%;
   height: fit-content;
   margin: 30px 5.5% 60px 5.5%;
   background-color: #C2C2C2;
   box-shadow: 20px 20px 10px rgb(145, 145, 145);
   border-radius: 30px;
   padding: 10px 2%;
   text-align: center;
}

.imgarticle {
   background-color: #C2C2C2;
   box-shadow: 15px 15px 10px rgb(145, 145, 145);

   float: left;
   margin: 0 3%;

   border-radius: 50px;
   height: 420px;
   width: 27.33%;
}

.articleimage {
   object-fit: cover;
   border-radius: 50px;
   width: 100%;
   height: 100%;
}

/*************************FOOTER*************************/

footer {
   display:grid;
   padding: 80px, 30%, 70px;
   grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   gap:3.5 rem;
   /*top: 0;
   left: 0;
   bottom: 0;
   /*width: 100%;
   height: 200px;*/
   background-color:#404040;
   font-size: 10pt;
   font-family: robotica;

   color: #C2C2C2;
}

.footerblok {
   min-width: 40%;
   min-height: fit-content;
   margin-top: 15px;
   margin-left: auto;
    margin-right: auto;
   /*float: left;
   margin: 10px 2%;*/
}

.footlink {
   text-align: center;
   font-size: 10pt;
   font-family: robotica;
   color: #C2C2C2;
   text-decoration: none;

}

.footlink:hover {
   color: #ffffff;
}

/*#leftFooterblok {
   margin-left: 16%;
}*/

/*************************TOOLTIP*************************/
.tooltip {
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted black;
 }
 
 .tooltip .tooltiptext {
   visibility: hidden;
   width: 150px;
   background-color: black;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
  
   position: absolute;
   z-index: 1;
   top: -5px;
   left: 120%;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
 }

 
