/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

/*************************STANDAARDMARGIN*************************/
* {
   margin: 0;
}

/*************************NAVIGATION*************************/
/*Goed zo, niks meer aan doen*/
nav {
   width: 100%;
   height: 70px;
   background-color: #404040;
   position: sticky;
   top: 0;
   z-index: 10;
}

.navlink {
   width: 10%;
   height: 50px;
   float: left;
   margin: 10px 3%;

   line-height: 50px;

   text-align: center;
   font-size: 10pt;
   font-family: robotica;
   color: #C2C2C2;
   text-decoration: none;
}

.navlink:hover {
   color: #ffffff;
}

@keyframes logo {                /*dit is gewoon onzin voor de logo animatie*/
   0%   {left:0px; top:0px;}     /* " */
   25%  {left:200px; top:0px;}    /* " */
   50%  {left:200px; top:200px;} /* " */
   75%  {left:0px; top:200px;}   /* " */
   100% {left:0px; top:0px;}     /*kunnen we later weghalen, voor nu wel geinig*/
}

.navlogo {
   height: 50px;
   float: left;
   margin: 10px 5%;
   position: relative;                          /*dit is gewoon onzin voor de logo animatie*/
   /*animation: logo 5s 2s infinite alternate;     /*kunnen we later weghalen, voor nu wel geinig*/
}


/*************************HEADER*************************/
.homeheader {
   width: 90%;
   height: 1000px;
   /*background-color: #000000;*/
   padding: 0 5%;
   z-index: -2;

   font-size: 20pt;
   font-family: robotica;
   color: #ffffff;
}
.homeheader h1{
   text-align: center;
   color: #F90000;
   font-weight: bold;
   font-size: 40pt;
}

.homevid {
   position: absolute;
   left: 0;
   height: 1000px;
   width: 100%;
   object-fit: cover;
   z-index: -1;
}


/*************************ARTICLES*************************/
.homearticle {
   width: 1000px;
   height: 700px;
   background-color: #C2C2C2;
   
   font-size: 10pt;
   font-family: robotica;
   color: #000000;
   margin: 2% auto;
   /*padding: 2%;*/
   border-radius: 50px;
}

.eenderdewrapper {
   width: 95%;
   height: 420px;
   margin: auto;
   margin-bottom: 30px;
}

.eenderdearticle {
   width: 23.33%;
   background-color: #C2C2C2;
   float: left;
   margin: 0 3%;
   border-radius: 50px;
   height: 400px;
   padding: 10px 2%;
   overflow: auto;
}

.eenzesdewrapper {
   width: 95%;
   height: 210px;
   margin: auto;
   margin-bottom: 30px;
}

.eenzesdearticle {
   width: 23.33%;
   background-color: #C2C2C2;
   float: left;
   margin: 0 3%;
   border-radius: 50px;
   height: 200px;
   padding: 10px 2%;
   overflow: auto;
}

.digiheader {
   width: 85%;
   margin: 30px 5.5%;
   height: 100px;
   background-color: #C2C2C2;
   border-radius: 30px;
   padding: 10px 2%;
   text-align: center;
}

/*************************FOOTER*************************/
/*Goed zo, niks meer aan doen*/
footer {
   width: 100%;
   height: 200px;
   background-color: #404040;
   font-size: 10pt;
   font-family: robotica;

   color: #C2C2C2;
}


.footerblok {
   width: 20%;
   float: left;
   margin: 10px 2%;
}

.footlink {
   text-align: center;
   font-size: 10pt;
   font-family: robotica;
   color: #C2C2C2;
   text-decoration: none;
}

.footlink:hover {
   color: #ffffff;
}

#leftFooterblok {
   margin-left: 16%;
}

/*************************TOOLTIP*************************/
.tooltip {
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted black;
 }
 
 .tooltip .tooltiptext {
   visibility: hidden;
   width: 150px;
   background-color: black;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
  
   position: absolute;
   z-index: 1;
   top: -5px;
   left: 120%;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
 }

 /*************************IMAGES*************************/

 .homeimg {
   height: 700px;
   width: 1000px;
   position: absolute;
   object-fit: cover;
   border-radius: 50px;
 }