/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

/*************************STANDAARDMARGIN*************************/
* {
   margin: 0;
}

/*************************NAVIGATION*************************/
/*Goed zo, niks meer aan doen*/
nav {
   width: 100%;
   height: 70px;
   background-color: #404040;
}

.navlink {
   width: 10%;
   height: 50px;
   float: left;
   margin: 10px 3%;

   line-height: 50px;

   text-align: center;
   font-size: 10pt;
   font-family: robotica;
   color: #C2C2C2;
   text-decoration: none;
}

.navlink:hover {
   color: #ffffff;
}

@keyframes logo {                /*dit is gewoon onzin voor de logo animatie*/
   0%   {left:0px; top:0px;}     /* " */
   25%  {left:200px; top:0px;}    /* " */
   50%  {left:200px; top:200px;} /* " */
   75%  {left:0px; top:200px;}   /* " */
   100% {left:0px; top:0px;}     /*kunnen we later weghalen, voor nu wel geinig*/
}

.navlogo {
   height: 50px;
   float: left;
   margin: 10px 5%;
   position: relative;                          /*dit is gewoon onzin voor de logo animatie*/
   /* animation: logo 5s 2s 2 alternate; */     /*kunnen we later weghalen, voor nu wel geinig*/
}


/*************************HEADER*************************/
.homeheader {
   width: 100%;
   height: 1000px;
   background-color: #000000;
   padding: 10px;

   font-size: 40pt;
   font-family: robotica;
   color: #F90000;
   font-weight: bold;
   text-align: center;
}


/*************************ARTICLES*************************/
.homearticle {
   width: 92%;
   height: 800px;
   background-color: #C2C2C2;
   
   font-size: 10pt;
   font-family: robotica;
   color: #000000;
   margin: 2%;
   padding: 2%;
   border-radius: 50px;
}

.homearticle:hover {
   width: 94%;
   margin: 2% 1%;
}

#digiwrapper {
   width: 95%;
   height: 420px;
   margin: auto;
   margin-bottom: 30px;
}

.eenderdearticle {
   width: 23.33%;
   background-color: #C2C2C2;
   float: left;
   margin: 0 3%;
   border-radius: 50px;
   height: 400px;
   padding: 10px 2%;
}

.digiheader {
   width: 85%;
   margin: 30px 5.5%;
   height: 100px;
   background-color: #C2C2C2;
   border-radius: 30px;
   padding: 10px 2%;
   text-align: center;
}

/*************************FOOTER*************************/
/*Goed zo, niks meer aan doen*/
footer {
   width: 100%;
   height: 200px;
   background-color: #404040;
   font-size: 10pt;
   font-family: robotica;

   color: #C2C2C2;
}


.footerblok {
   width: 20%;
   float: left;
   margin: 10px 2%;
}

.footlink {
   text-align: center;
   font-size: 10pt;
   font-family: robotica;
   color: #C2C2C2;
   text-decoration: none;
}

.footlink:hover {
   color: #ffffff;
}

#leftFooterblok {
   margin-left: 16%;
}