/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

* {
   margin: 0;
}

/*navigation*/
nav {
   width: 100%;
   height: 60px;
   padding: 5px;
   background-color: #404040;
}

.navlink {
   width: 15%;
   height: 50px;
   float: left;

   line-height: 50px;

   text-align: center;
   font-size: 10pt;
   font-family: robotica;
   color: #C2C2C2;
   text-decoration: none;
}

.navlink:hover {
   color: #ffffff;
   background-color: #C2C2C2;
}


/*header*/
.homeheader {
   width: 100%;
   height: 1000px;
   background-color: #000000;

   font-size: 40pt;
   font-family: robotica;
   color: #ffffff;
}


/*articles*/
.homearticle {
   width: 92%;
   height: 800px;
   background-color: #C2C2C2;
   
   font-size: 10pt;
   font-family: robotica;
   color: #000000;
   margin: 2%;
   padding: 2%;
   border-radius: 50px;
}

